<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planner</title>
</head>
<body>
    <!--Navigation bar-->
    <div>
        <a href="#" >Home</a>
        <a href="#" >Dashboard</a>      
        <a href="#" >List</a>
        <a href="#" >Planner</a>
        <a href="#" >Account</a>
        <a href="#" >Login</a>
    </div>
    
    <h2>{{plan.name}}</h2>
    <div>
        <a href="#" >Share</a>
        <a href="#" >Edit</a>      
        <a href="#" >Delete</a>
    </div>
    {% for activity in plan.activities.all %}
        <p> {{activity.name}}</p>
    {% endfor %}
</body>
</html>