<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan</title>
</head>
<body>
        <!--Navigation bar-->
        <div>
            <a href="#" >Home</a>
            <a href="#" >Dashboard</a>      
            <a href="#" >List</a>
            <a href="#" >Planner</a>
            <a href="#" >Account</a>
            <a href="#" >Login</a>
        </div>

        <!--Activities-->
        <div>
            <h2>{{ plan.name }}</h2>

            {% for activity in activities %}
                <p>{{activity.name}}</p>
            {% endfor %} 

            <form action="/add_activity/{{plan.id}}" method="POST">
                {% csrf_token%}
                <input type="text" name="activity" placeholder="Activity"> <br>
                <button type="submit"> Add activity</button>
            </form>
        </div>
</body>
</html>