<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planner</title>
</head>
<body>
    
    <!--Navigation bar-->
    <div>
        <a href="#" >Home</a>
        <a href="#" >Dashboard</a>      
        <a href="#" >List</a>
        <a href="#" >Planner</a>
        <a href="#" >Account</a>
        <a href="#" >Login</a>
    </div>

    <!--Add Activity-->
    <form action="{% url 'new plan' %}" method="POST">
        {% csrf_token %}
        <label>Plan Name</label>
        <input type="text" name="plan name"> <br>
        <div>
            <input type="text" name="activity">
            <a href="#"> New Activity</a>    
        </div>
        <button type="submit"> Make plan </button>
    </form>



</body>
</html>