<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planner</title>
</head>
<body>
    
    <!--Navigation bar-->
    <div>
        <a href="#" >Home</a>
        <a href="#" >Dashboard</a>      
        <a href="#" >List</a>
        <a href="#" >Planner</a>
        <a href="#" >Account</a>
        <a href="#" >Login</a>
    </div>

    {% if messages %}
    <ul class="messages">
        {%for message in messages %}
            <li {% if message.tags%} class="{{message.tags}}"{% endif %}>{{message}}</li>
        {%endfor%}
    </ul>
    {%endif%}

    <!--Add Activity-->
    <form action="{% url 'create plan' %}" method="POST">
        {% csrf_token %}
        <label>Plan Name</label>
        <input type="text" name="plan_name"> <br>
        <button type="submit"> Create plan </button>
    </form>



</body>
</html>