<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planner</title>
</head>
<body>
    <!--Navigation bar-->
    <div>
        <a href="#" >Home</a>
        <a href="#" >Dashboard</a>      
        <a href="#" >List</a>
        <a href="#" >Planner</a>
        <a href="#" >Account</a>
        <a href="#" >Login</a>
    </div>

    <h2>Plan name</h2>
    <form method="POST">
        {% csrf_token %}
        <div>
            <p>Activity</p>
            <a href="#"> Delete </a>
        </div>
        <a href="#">Add activity</a>
        <button type="submit">Save changes</button>
    </form>


</body>
</html>